<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="cmcmsEntity" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=cmcms;password=abc3###1415B;persistsecurityinfo=True;database=cmcms&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>